@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/rav97/SZT_SimpleCRUD" target="_blank">About</a>
        <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank" title="Really don't do this!">Don't click it</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
