@page "/editPost/{ID}"
@inject IPostsManager postManager
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input type="text" for="Name" class="form-control" @bind-value="@post.Title" />
                <label for="Name" class="control-label">Content</label>
                <textarea form="Name" class="form-control" @bind="@post.PostContent" @bind:event="oninput" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" @onclick="() => UpdatePost()">Save</button>
                <button type="button" class="btn btn-danger" @onclick="() => Cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>

@code  {

    [Parameter]
    public string ID { get; set; }

    Post post = new Post();

    protected override async Task OnInitializedAsync()
    {
        post = await postManager.SelectById(Convert.ToInt32(ID));
    }

    protected async Task UpdatePost()
    {
        await postManager.Update(post);
        navigationManager.NavigateTo("/posts");
    }

    void Cancel()
    {
        navigationManager.NavigateTo("/posts");
    }
}
