@page "/"

<h1>Witaj</h1>

<p>
    Strona którą odwiedziłeś jest projektem zaliczeniowym na laboratorium z Systemów Zarządzania Treścią.
    Aplikacja ma na celu umożliwiać podstawową funkcjonalność z zakresu CRUD. Z bocznego panelu nawigacyjnego możesz przejść właściwej części tego projektu.
</p>
<p>Pozdrawiam<br>Rafał Isbrandt</p>
