@page "/"

<style>
    p{
        text-align:justify;
    }
</style>

<h1>BlazorCrud</h1><br/>
<h3>About</h3>
<p>BlazorCrud is a simple website that implements the CRUD demands (creating, reading, updating, deleting). 
    The website implements the basic functionality of a web blog, without users accounts, 
    in which it is possible to list all posts, create new ones, edit existing ones and delete them. 
    An additional option is a contact form that allows you to send a contact request. 
    This is my first attempt of creating content management system, so the page is not very advanced.</p>

<h3>Functionality</h3>

<ul>
    <li>Listing all posts</li>
    <li>Preview of individual posts</li>
    <li>Editiong posts</li>
    <li>Deleting posts</li>
    <li>Contact form</li>
</ul>

<h3>Documentation</h3>

<iframe src="https://drive.google.com/file/d/1ySC4_WbDqKppcsLpVkof3NNC4dyQYoF7/preview" ></iframe><br/>

<h3>Credits</h3>
<p><strong>Rafał Isbrandt</strong><br/>Nr albumu: 131768<br/>Informatyka II stopnia niestacjonarne<br/>Specjalność: ZTI</p>