@page "/showPost/{ID}"
@inject IPostsManager postManager
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

<div>
    <h2>@post.Title</h2>
    <pre class="text-wrap text-justify">@post.PostContent</pre>
</div>
<div class="form-group">
    <button type="button" class="btn btn-info" @onclick="() => Cancel()">Back</button>
    <button type="button" class="btn btn-outline-warning" @onclick="() => Edit()">Edit</button>
    <button type="button" class="btn btn-danger" @onclick="() => Delete()">Delete</button>
</div>

@code  {

    [Parameter]
    public string ID { get; set; }

    Post post = new Post();

    protected override async Task OnInitializedAsync()
    {
        post = await postManager.SelectById(Convert.ToInt32(ID));
    }

    protected async Task Delete()
    {
        await postManager.Delete(Convert.ToInt32(ID));
        navigationManager.NavigateTo("/posts");
    }

    void Edit()
    {
        navigationManager.NavigateTo($"/editPost/{ID}");
    }

    void Cancel()
    {
        navigationManager.NavigateTo("/posts");
    }
}
